/* Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.headernavlink {
    padding-top: 30px;
}

/*Navigation*/

.fas {
    color: #0065fc;
}

.navigation {
    display: flex;
}

nav a {
    font-size: 0.9em;
    color: black;
    padding-top: 3px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}

header nav a {
    margin-left: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

.hebergements-activites a:hover {
    border-top: 3px solid #0065FC;
}

.headersignup {
    color: #0065FC;
    font-weight: bold;
    margin-right: 10px;
}
