


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
} 

/*--------HEADER--------*/


header img
{
  
}

header .inscription{
    float: right;

}
.menunav
{
    
    font-size: 100%;
    justify-content: space-around;
}
.menunav .Hébergement
{
    
    margin-right: 50px;
    border-bottom: solid 3px #0065FC;
}

.menunav ul 
{
    border-bottom: solid 3px #0065FC;
}
.menunav ul li .activité
{
    border-bottom: solid 3px #f2f2f2;
    justify-content: end;
}

.menunav ul li a:hover
{
    
    border-top: none;
    border-bottom: solid 3px #0065FC;
    
}




