@font-face { /* Définition d'une nouvelle police nommée Raleway*/
    font-family: 'Raleway';
    src: url(Raleway/static/Raleway-Black.ttf) format('truetype')
        url(raleway/static/Raleway-BlackItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Bold.ttf) format('truetype')
        url(raleway/static/Raleway-BoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraBold.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraBoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraLight.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraLightItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Italic.ttf) format('truetype')
        url(raleway/static/Raleway-Light.ttf) format('truetype')
        url(raleway/static/Raleway-LightItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Medium.ttf) format('truetype')
        url(raleway/static/Raleway-MediumItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Regular.ttf) format('truetype')
        url(raleway/static/Raleway-SemiBold.ttf) format('truetype')
        url(raleway/static/Raleway-SemiBoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Thin.ttf) format('truetype')
        url(raleway/static/Raleway-ThinItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'raleway';
    src:
    url(raleway/Raleway-Italic-VariableFont_wght.ttf) format('truetype')
    url(raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

body{
    margin-left: 30px;
}
header{
    
    display: flex;
    position: relative;
    margin: auto;
    
}
#logo img
{
    display: flex;
    justify-content: flex-start;
   width: 100px;
   margin-top: 30px;
   margin-left: 10px;
   margin-bottom: 50px;
}
 .menunav ul
{
display: flex;
list-style-type: none;
justify-content: end;
margin-top: 55px;
margin-left: 800px;


}
.menunav a 
{
    border-top: blue;
    display: flex;
    margin-left: 60px;
   justify-content: end;
   font-size: 20px;
}

.Activité .grande
{
    width: 400px;
	height: 400px;
}

.Activité .moyen
{
    width: 200px;
	height: 200px;
}

h1
{
    font-size: 2.2em;
}

.recherche em
{font-size: 1.5em;}

.recherche h1 {
    margin-bottom: 1%;
}

button{
    background-color: blue;
    border-radius: 3px 3px 3px 3px;
}

#recherche form
{
    font-size: 2.0em;
}

form p i{
 border: solid 3px black;
 border-radius: 5px 5px 5px 5px;
 background-color: #F2F2F2;
}





