/*@font-face 
 { Définition d'une nouvelle police nommée Raleway
    font-family: 'Raleway';
    src: url(Raleway/static/Raleway-Black.ttf) format('truetype')
        url(raleway/static/Raleway-BlackItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Bold.ttf) format('truetype')
        url(raleway/static/Raleway-BoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraBold.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraBoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraLight.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraLightItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Italic.ttf) format('truetype')
        url(raleway/static/Raleway-Light.ttf) format('truetype')
        url(raleway/static/Raleway-LightItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Medium.ttf) format('truetype')
        url(raleway/static/Raleway-MediumItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Regular.ttf) format('truetype')
        url(raleway/static/Raleway-SemiBold.ttf) format('truetype')
        url(raleway/static/Raleway-SemiBoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Thin.ttf) format('truetype')
        url(raleway/static/Raleway-ThinItalic.ttf) format('truetype');
} */

@font-face 
{
    font-family: 'Raleway';
    src: url(Raleway/Raleway-VariableFont_wght.ttf) format('truetype')
         url(Raleway/raleway-variablefont_wght-webfont.woff) format('woff')
         url(Raleway/raleway-variablefont_wght-webfont.woff2) format('woff2');
    /* url(raleway/Raleway-Italic-VariableFont_wght.ttf) format('truetype') */
}

body 
{
    font-family: "Raleway", "Arial", "Sans serif";
    margin: 20px;
}
header
{
    display: flex;
    position: relative;
    margin: auto;
}
header img

{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    margin-top: 30px;
     margin-left: 10px;
   
}
 .menunav ul
{
    display: flex;
    list-style-type: none;
    justify-content: end;
    margin-top: 55px;
    margin-left: 880px;
}
.menunav a 
{
    text-decoration:none;
    display: flex;
    margin-left: 60px;
    justify-content: end;
    font-size: 20px;
    color: #0065FC;
    border-top: 2px solid #ffffff;
}

.menunav a:hover
{
    border-top: 2px solid #0065FC;
}
.menunav a:hover .Activités
{
    color: #0065FC;
}

.menunav ul a .Activités
{
    color: black;
}



.Activité .grande
{
    width: 400px;
	height: 400px;
}

.Activité .moyen
{
    width: 200px;
	height: 200px;
}

h1
{
    font-size: 2.0em;
}

.recherche #recherche .icone
{
    color: black;
}

.recherche em
{
    font-size: 1.2em;
}

.recherche h1 
{
    margin-bottom: 0.10em;
}

button
{
    background-color:#0065FC;
    border-radius:0 1em 1em 0 ;
    font-size: 1.15rem;
    color: white;
    padding: 0.5rem 0.75rem;
    margin-bottom: 30px;
    
}



#recherche form p i
{
    background-color: #F2F2F2;
    padding: 1rem 1rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    font-size: 1em;
}


#recherche form p input
{
border-right: none;
border-left: none;
border-top: #F2F2F2 1px solid;
border-bottom: #F2F2F2 1px solid;
padding-bottom: 0.25em;

font-size: 2em;
font-weight: bold;
font-family: "Raleway","Sans serif";
}


.recherche #recherche form
    {
        display: inline-flex;
        max-width: 100%;
        overflow: auto;
        font-size: 0.80em;
        padding: 1.5rem 1.5rem;
    }

.filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filtres ul
{
    list-style-type: none;
    display: flex;
}

.filtres ul li 
{
    margin-left: 15px;
}

.filtres ul li i
{
    color: blue;
}