/*@font-face 
 { Définition d'une nouvelle police nommée Raleway
    font-family: 'Raleway';
    src: url(Raleway/static/Raleway-Black.ttf) format('truetype')
        url(raleway/static/Raleway-BlackItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Bold.ttf) format('truetype')
        url(raleway/static/Raleway-BoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraBold.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraBoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraLight.ttf) format('truetype')
        url(raleway/static/Raleway-ExtraLightItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Italic.ttf) format('truetype')
        url(raleway/static/Raleway-Light.ttf) format('truetype')
        url(raleway/static/Raleway-LightItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Medium.ttf) format('truetype')
        url(raleway/static/Raleway-MediumItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Regular.ttf) format('truetype')
        url(raleway/static/Raleway-SemiBold.ttf) format('truetype')
        url(raleway/static/Raleway-SemiBoldItalic.ttf) format('truetype')
        url(raleway/static/Raleway-Thin.ttf) format('truetype')
        url(raleway/static/Raleway-ThinItalic.ttf) format('truetype');
} */

@font-face 
{
    font-family: 'Raleway';
    src: url(Raleway/Raleway-VariableFont_wght.ttf) format('truetype')
         url(Raleway/raleway-variablefont_wght-webfont.woff) format('woff')
         url(Raleway/raleway-variablefont_wght-webfont.woff2) format('woff2');
    /* url(raleway/Raleway-Italic-VariableFont_wght.ttf) format('truetype') */
}

header img{
    display: inline-flex;
    justify-content: flex-start;
}

header .inscription{
    float: right;
    display: flex;
    margin-top: 0px;
    font-size: 20px;
   
    
}

header .menunav ul li .Hébergement{

    color: #0065FC;
}
header .inscription a{
    text-decoration: none;
    margin-top: 20px;
    color: #0065FC;
}

header .menunav {
    display: flex;
    float: right;
    font-size: 20px;
}

header .menunav ul{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    
   
}


header .menunav ul li a{
    margin-right: 50px;
    text-decoration: none;
    
}

header .menunav ul li .activité{
color: black;
}

header .menunav a:hover{
    border-top: 2px solid #0065FC;

}